<div class='menu-container'>
    <script>
        const mainCategory = <%- JSON.stringify(mainCategory) %>;
        let products = <%- JSON.stringify(products) %>;
    </script>


        <div class='category'>
            <div class="heading">
                <p>Category</p>
                <img class="drop-down" src="../../images/arrow-down-icon-png-6685.png">
            </div>
            <div>
                <a href="/mens/Clothing/mens-clothing-suits">Men</a>
                <a href="/womens/Clothing/womens-outfits">Women</a>
            </div>
                
        </div>

        <div class="product-type">
            <div class="heading">
                <p>Product Type</p>
                <img class="drop-down" src="../../images/arrow-down-icon-png-6685.png">
            </div>
            <div>
                <%for(category of mainCategory.categories){%>
                    <%for( subCategory of category.categories) {%> 
                       <a href="/<%=mainCategory.id%>/<%=category.name%>/<%=subCategory.id%>"><%=subCategory.name%></a>
                    <%}%>
                <%}%>
            </div>
        </div>


        <div class='menu-price'>

            <div class="heading">
                <p>Price</p>
                <img class="drop-down" src="../../images/arrow-down-icon-png-6685.png">
            </div>
            <div>
                <div class='slider-holder'>
                    <div class='mobile-slider'>
                        <span class='min-price'></span><span class='max-price'></span>  
                    </div>
                    <input id='price-slider' type="range">
                </div>
                <p id='value'>Value:0</p>
            </div>
            
        </div>


        <div class='color-menu'>
            <div class="heading">
                <p>Color</p>
                <img class="drop-down" src="../../images/arrow-down-icon-png-6685.png">
            </div>
            <div class='color-holder'>
                <% for(product of products){ %>
                    <%for(imageGroup of product.image_groups){%>
                        <%if(imageGroup.view_type=="swatch"){%>
                            <%for(image of imageGroup.images){%>
                                <div class='chose-variant-holder'>
                                    <input class='color-variant-checkbox' id = "<%=imageGroup.variation_value%>" type='checkbox'>
                                    <label for="<%=imageGroup.variation_value%>">
                                        <img class="variants-image" src="../../images/<%=image.link%>"
                                        alt="<%=image.alt%>"
                                        title="<%=image.title%>">
                                    </label>
                                </div>
                            
                            <%}%>
                        <%}%>
                    <%}%>
                <%}%>
            </div>
        </div>

        <div class='size-variants-holder'>
            <div class="heading">
                <p>Size</p>
                <img class="drop-down"src="../../images/arrow-down-icon-png-6685.png">
            </div>
            <div class='size-variants'>

            </div>
        </div>

        <button class='submit-filters' type="button">Submit</button>

</div>
        
<div class="show-filters">   
    <p>Filters</p>
    <img class='show-filters-button'src="../../images/arrow-down-icon-png-6685.png">
</div>